* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Dark mode*/
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


body.dark-mode .museums {
    background-color: #000000;
}

body.dark-mode footer {
    background-color: #1c1c1c;
}

body.dark-mode .text-box h3 {
    color: #ffffff;
}

body.dark-mode .text-box p {
    color: #ffffff;
}

body.dark-mode .places-col {
    background-color: #000000;
}

body.dark-mode .flex-container {
    background-color: #333;
}

.dark-mode-o {
    background-color: #3b053d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.dark-mode-o:hover {
    background-color: #7b8186;
    transform: translateY(-1px);
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("https://assets.vogue.com/photos/5cf02219747ce17f10fb866a/master/w_2560%2Cc_limit/00-story-image-the-10-most-popular-museums-in-the-world.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;


}

.nav-links {
    flex: 1;
    text-align: right;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #991499;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}



.row {
    display: flex;
    height: calc(100% - 80px);
    align-items: center;
}

.col {
    flex-basis: 50%;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 80px;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    max-width: 600px;
}

img {
    max-width: 320px;
}

.museums {
    background-color: #f9f9f929;
    padding: 50px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.places-col {
    flex-basis: 30%;
    background: #fff;
    border-radius: 0px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.places-col img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    transition: transform 0.3s;
}

.places-col:hover img {
    transform: scale(1.05);
}

.places-col:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.text-box {
    flex-basis: 60%;
    padding: 0 20px;
    text-align: left;
}

.text-box h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.text-box p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.visit-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #2413bd;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.visit-button:hover {
    background-color: #282b74;
}

/*------footer----*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #00aced;
  }

@media(max-width: 700px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .places-col,
    .text-box {
        flex-basis: 90%;
        margin: 10px 0;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #991499;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}
